@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto+Mono&display=swap');


html{
    height: 100%;
    width: 100%;
}

* {
    /* outline: thick double rgb(69, 30, 210); */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0%;
    background: url(./Sources/Image/background-accueil.png) center/cover;
}

.header {
    display: flex;
    height: 10%;
    justify-content: center
}

.logo {
    transition: box-shadow .4s ease;
    border-radius: 100%;
}

.logo:hover {
    box-shadow: 2px 2px 20px #fc6a35;

}

.LogoAccueil{
    height: 100%;

}
.corps {
    display: flex;
    height: 80%;
    justify-content: space-around;
}

.foot {
    height: 2% ;
    text-align : center ;
    font-size: 0.8em;
    color: wheat;
}