body{
    background: no-repeat center/cover url(./Sources/Image/fond.jpg);
}

.Giftoutil {
    height:100%;
    width: 90%;
    /* flex-direction: column; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.Soutiens {
    background: no-repeat center/cover url(/Sources/Image/1.png);    
}

.minage {
    background: no-repeat center/cover url(/Sources/Image/2.png);
}

.Commerce {
    background: no-repeat center/cover url(/Sources/Image/3-1.png);
}

.Combat {
    background: no-repeat center/cover url(/Sources/Image/4.png);
}

.giftDim {
    height: 80%;
    width: 20%;
    margin: 1%;
    border: rgb(0, 0, 0) 2px solid;
    transition: all .3s ease-out;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftDim:hover {
    border-color: rgb(64, 86, 104);
    width: 69%;
}

.Giftoutil .giftDim,.Giftoutil .popup, .Giftoutil .sitepopup {
    border-top-left-radius: 2px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 40px;

}

.Imagelien{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.titreSection {
    color: #fc6a35;
    font-family: 'Roboto Mono', monospace;
    transition: all .3s ease-out;
    font-weight: 900;
    font-size: 1.8vw;
    text-shadow: rgba(14, 14, 14, 0.822) 3px 3px 3px;
}

.giftDim:hover .titreSection {
    font-size: 3vw;
}

.popup{
    height: 80%;
    width: 100%;
    text-align: center;
    transition : all .3s ease-out;
}

.sitepopup{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    }

.closeiframe{
    position: absolute;
    z-index: 5;
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}