@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto+Mono&display=swap');


html{
    min-height: 100%;
    width: 100%;
    display: flex;
}

* {
    /* outline: thick double rgb(69, 30, 210); */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    margin: 0%;
}

.header {
    display: flex;
    height: 10%;
    justify-content: center
}
/* Y en a 2 c'est normal tkt */
header {
    display: flex;
    height: 10%;
    justify-content: center
}

.logo {
    transition: box-shadow .4s ease;
    border-radius: 100%;
    /* width: 40%; */
}

.LogoAccueil{
    height: 100%;
    border-radius: 100%;
    
}

.LogoAccueil:hover {
    box-shadow: 0px 0px 3px #ffffff, 0px 0px 10px #fc6a35 ;
    /* box-shadow: 0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 42px rgb(187, 187, 187),   
    0 0 77px rgb(230, 18, 124), 
    0 0 100px rgb(16, 1, 102);
     */
}

.corps {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
}

.foot {
    height: 2% ;
    text-align : center ;
    font-size: 0.8em;
    color: wheat;
}
/* Y en a 2 ici c'est normal aussi  */
footer {
    height: 18px;
    display: flex;
    justify-content: space-around;
}

.copyRight {
    font-size: 1.2vh;
    color: wheat;
    /* padding-top: 1%; */
}

.discordLogo {
    width: 20px;
}

.divCollapse {
    visibility: collapse;
    position: absolute;
    top: 0;
}

.divVisible {
    visibility: visible;
}

.Journal{
    position: absolute;
    z-index: 3;
    right: 3%;
    bottom: 3%;
}

.pnglogojournal{
    width: 70px;
}

.evenement{
    position: absolute;
    background-color: darkgrey;
    z-index: 2;
    right: 3%;
    bottom: 3.5%;
    height: 50%;
    width: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 14%;
    border-bottom-right-radius: 10%;
    

}

.Bonjour{
    height: 10%;
    width: 100%;
    text-align: justify;
}

.evdynamique{
    display: flex;
    height: 70%;
    width: 100%;
}

.raccourcie{
    display: flex;
    justify-content: space-around;
    height: 18%;
    width: 100%;
    border-bottom-left-radius: 14% 60%;
    border-bottom-right-radius: 10% 40%;
    background-color: darkred;
}

.youtube{
    background: no-repeat center/cover url(./Sources/Image/youtube.png);
    width: 33%;
    height: 100%;
    border-radius: 100%;
}

.discord{
    background: no-repeat center/cover url(./Sources/Image/discord.png);
    width: 33%;
    height: 100%;
    border-radius: 100%;
}

.openclose{
    display: flex;
    width: 33%;
}

.evenementDate{

}