html{
    height: 100%;
    width: 100%;
}

* {
    /* outline: thick double rgb(69, 30, 210); */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0%;
}

.header {
    display: flex;
    height: 10%;
    justify-content: center
}

.logo {
}

.LogoAccueil{
    height: 100%;

}

.corps {
    display: flex;
    height: 80%;
    justify-content: space-around;
}

.twogiftleft {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.agenda {
    background: no-repeat center/cover url(./Sources/Image/CMD-SV.png);
}

.Liensutile {
    background: no-repeat center/cover url(./Sources/Image/CMD-SV.png)
}

.twogiftright {
    width: 40%;
    display: flex;
	justify-content: space-around;
}

.pres {
    background: no-repeat center/cover url(./Sources/Image/CMD-SV.png)
}

.hist {
    background: no-repeat center/cover url(./Sources/Image/CMD-SV.png)
}

.giftDim {
    height: 100%;
    width: 50%;
    margin: 1%;
}

.foot {
    height: 2% ;
    text-align : center ;
    font-size: 0.8em;
}