@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

html{
    height: 100%;
    width: 100%;
}

* {
    /* outline: thick double rgb(69, 30, 210); */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0%;
    background: url(../Sources/Image/background-accueil.png) center/cover;
}

.header {
    display: flex;
    height: 10%;
    justify-content: center
}

.logo {
    transition: box-shadow .4s ease;
    border-radius: 100%;
}

.logo:hover {
    box-shadow: 2px 2px 20px #fc6a35;

}

.LogoAccueil{
    height: 100%;

}

.corps {
    display: flex;
    height: 80%;
    justify-content: space-around;
    position: relative;
}

.Orga {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 100%;
    margin : 0%
}

.VpPres {
    position: relative;
    height: 18%;
    width: 100%;
    color:wheat;
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    box-shadow: 2px 2px 7px #fc6a35;
}

.VpPres:hover{
    box-shadow: 2px 2px 20px #fc6a35;
}

.icone {
    height: 10vh;
    margin: 3%;
    border-radius: 100%;
    border : 2px solid black
}

.description {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Maven Pro', sans-serif;
    padding-right: 4% ;
    text-align: justify;
}

.pseudo{
    color: wheat;
}

.name {
    font-size: 3.5vh;
    
}

.presContent {
    font-size: 2vh;
    
}

.Pres-Corpo {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 40%;
    color:rgb(249, 249, 253);
    background-color: rgb(37, 37, 37);
    box-shadow: 2px 2px 7px #fc6a35;
}


.Pres-Corpo{
    display: flex;
    flex-direction: column;
}

.Pres-Corpo:hover{
    box-shadow: 2px 2px 20px #fc6a35;
}

.Titre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.imgcorpo{
    display: flex;
    height: 30%;
    background: url(./Sources/Image/equipe.jpg) center/cover;
}

.centrage{
    display: flex;
    align-items: center;
    height: 50%;
}

.exp{
    padding: 0% 4% ;
    text-align: justify;
}

.remplissagelien{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.foot {
    height: 2% ;
    text-align : center ;
    font-size: 0.8em;
}