.twogiftleft {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.agenda {
    background: no-repeat center/cover url(./Sources/Image/CMD-SV.png);    
}

.Liensutile {
    background: no-repeat center/cover url(./Sources/Image/CMD-SV.png)
}

.twogiftright {
    width: 40%;
    display: flex;
	justify-content: space-around;
}

.pres {
    background: no-repeat center/cover url(./Sources/Image/CMD-SV.png)
}

.hist {
    background: no-repeat center/cover url(./Sources/Image/CMD-SV.png)
}

.giftDim {
    height: 100%;
    width: 50%;
    margin: 1%;
    border-radius: 100% 100% 0px 0px / 25% 25% 0px 0px;
}

.Imagelien{
    display: flex;
    height: 100%;
    width: 100%;
}