* {
    /* outline: thick double rgb(69, 30, 210); */
}

body{
    background: no-repeat center/cover url("./Sources/Image/Fond.jpg");
}

.Orga {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 100%;
    margin : 0%;
}

.VpPres {
    position: relative;
    min-height: 18%;
    width: 100%;
    color:wheat;
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    box-shadow: 2px 2px 7px #fc6a35;
    border-top-left-radius: 40px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 2px; 
}

.VpPres:hover{
    box-shadow: 2px 2px 20px #fc6a35;
}

.icone {
    height: 10vh;
    margin: 3%;
    border-radius: 100%;
    border : 2px solid black
}

.description {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Maven Pro', sans-serif;
    padding-right: 4% ;
    text-align: justify;
}

.pseudo{
    color: wheat;
}

.name {
    font-size: 3.5vh;
    
}

.presContent {
    font-size: 2vh;
    
}

.Pres-Corpo {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    color:rgb(249, 249, 253);
    background-color: rgb(37, 37, 37);
    box-shadow: 2px 2px 7px #fc6a35;
    border-top-left-radius: 2px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 40px;
}


.Pres-Corpo{
    display: flex;
    flex-direction: column;
}

.Pres-Corpo:hover{
    box-shadow: 2px 2px 20px #fc6a35;
}

.Titre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

.imgcorpo{
    display: flex;
    height: 30%;
    background: url(./Sources/Image/equipe.jpg) center/cover;
}

.centrage{
    display: flex;
    align-items: center;
    height: 50%;
}

.exp{
    padding: 0% 4% ;
    text-align: justify;
}

.remplissagelien{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}